src/Fab.Client/Service References/MoneyServiceReference/MoneyService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fab.Server.Core.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://thor/StagingFab/MoneyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core.Enums" />
  <xs:complexType name="IncomingTransferDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransferDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IncomingTransferDTO" nillable="true" type="tns:IncomingTransferDTO" />
  <xs:complexType name="TransferDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JournalDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="SecondAccountId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransferDTO" nillable="true" type="tns:TransferDTO" />
  <xs:complexType name="JournalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalDTO" nillable="true" type="tns:JournalDTO" />
  <xs:complexType name="DepositDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransactionDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepositDTO" nillable="true" type="tns:DepositDTO" />
  <xs:complexType name="TransactionDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JournalDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="WithdrawalDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransactionDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WithdrawalDTO" nillable="true" type="tns:WithdrawalDTO" />
  <xs:complexType name="OutgoingTransferDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TransferDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutgoingTransferDTO" nillable="true" type="tns:OutgoingTransferDTO" />
  <xs:complexType name="AccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstPostingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastPostingDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostingsCount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDTO" nillable="true" type="tns:AccountDTO" />
  <xs:complexType name="ArrayOfAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDTO" nillable="true" type="tns:AccountDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDTO" nillable="true" type="tns:ArrayOfAccountDTO" />
  <xs:complexType name="CategoryDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fab.Server.Core.Enums" minOccurs="0" name="CategoryType" type="q1:CategoryType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popularity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
  <xs:complexType name="ArrayOfCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDTO" nillable="true" type="tns:ArrayOfCategoryDTO" />
  <xs:complexType name="ArrayOfJournalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalDTO" nillable="true" type="tns:JournalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalDTO" nillable="true" type="tns:ArrayOfJournalDTO" />
  <xs:complexType name="ArrayOfAssetTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetTypeDTO" nillable="true" type="tns:AssetTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetTypeDTO" nillable="true" type="tns:ArrayOfAssetTypeDTO" />
  <xs:complexType name="AssetTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetTypeDTO" nillable="true" type="tns:AssetTypeDTO" />
</xs:schema>