src/Fab.Client/Service References/MoneyServiceReference/MoneyService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fab.Server.Core.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fab.Server.Core.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="NotOlderThen" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Skip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Upto" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryFilter" nillable="true" type="tns:QueryFilter" />
  <xs:complexType name="TextSearchFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Contains" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextSearchFilter" nillable="true" type="tns:TextSearchFilter" />
  <xs:complexType name="CategoryFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:QueryFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryFilter" nillable="true" type="tns:CategoryFilter" />
</xs:schema>